*cri
*data
*.densities
*.err
*.ec
*ges
*gz
*gbw
*gjf
*in
*ipynb
*json
*ini
*.lmdb
*.lmdb-lock
*-lock
*log
*out
*output*
*mfwn
*out
*png
*pkl
*PKG-INFO*
*pt 
*pyc
*save
*settings.ini
*sh
*tmp
*traj
*txt
*vmd
*wfn
*wfn
*wfx
*xyz




